 html,
 body {
     background-color: black;
     color: white;
     font-family: 'Roboto', sans-serif;
 }
 
 .header .navbar {
     background-color: transparent !important;
 }
 
 .nav-link,
 .navbar-brand {
     color: white !important;
 }
 
 footer {
     background-color: rgba(13, 202, 240, 255);
     color: white;
     font-size: 25px;
     margin-top: 25px;
 }
 
 .color-button {
     background-color: rgba(13, 202, 240, 255);
     border: none;
 }
 
 .card {
     background-color: rgba(13, 202, 240, 255);
 }
 
 .color-fondo-icono {
     background-color: rgba(13, 202, 240, 255);
 }
 
 a>i {
     color: white;
     margin-left: 5px;
 }
 
 .tooltip.bs-tooltip-top .tooltip-arrow::before {
     border-top-color: red;
 }
 
 .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
     border-bottom-color: red;
 }
 
 .tooltip.bs-tooltip-top .tooltip-inner {
     color: rgba(13, 202, 240, 255);
     background-color: white;
 }
 
 .tooltip.bs-tooltip-bottom .tooltip-inner {
     color: rgba(13, 202, 240, 255);
     background-color: white;
 }